<!DOCTYPE html>
<html>
    
    <head>
        <title>Mastermind Game</title>
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    
    <body>
        
        <h1>Mastermind</h1>
        
        <p>Game over!</p>
        
        <form><input type="submit" value="New Game"></form>
        
    </body>
</html>