<!DOCTYPE html>
<html>
    
    <head>
        <title>Mastermind Game</title>
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    
    <body>
        
        <h1>Mastermind</h1>
        
        <p>The computer will randomly select a secret code. The code will be made up of four numbers 1-4. (ex. 1234) Try to guess the secret code. You have 12 tries. For each try, the computer will give you hints. An X means you have a number in the right position. An O means you have a number in the wrong position. When you guess the secret code, you win! Let's play...</p>
        
        <form method="POST"><input type="submit" value="Play"></form>
        
    </body>
</html>