body {
    margin: 0px auto;
    background: #2c3e50;
    color: #ecf0f1;
    font-family: 'Futura', sans-serif;
    text-align: center;
}

h1 {
    font-size: 4em;
}

#form {
    margin: 100px 10px;
}

label {
    margin-left: 15px;
}

input {
    margin: 5px 3px;
    padding: 2px 5px;
    border: 1px solid #ecf0f1;
    color: #ecf0f1;
    background: transparent;
}

input[type="submit"] {
    margin: 0px 15px;
}